/*
    BUTTONS.CSS
    Standard Button, Hero Buttons, Card Buttons, Print Button
*/

/* Standard button */
button {
    display: inline-block;
    background-color: var(--bg-header);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s;
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

button:hover,
.hero-btn:hover,
.card-btn:hover,
#print-cv-btn:hover {
    background-color: var(--bg-secondary);
}

/* Hero, card, and print buttons */
.hero-btn,
.card-btn,
#print-cv-btn {
    display: inline-block;
    background-color: var(--bg-header);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    padding: clamp(0.5rem, 2vw, 1rem) clamp(1rem, 4vw, 2rem);
    font-size: clamp(0.9rem, 2vw, 1.2rem);
}

/* Print button container */
.print-btn-container {
    text-align: center;
    margin-top: 2rem;
}